/* Estos estilos son para ajustar las visuales que genera Angular */
option {
    background: #fff;
    width: 100%;
}
.input__text select{
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
}
.dropdown::after{
  pointer-events: none;
}