<footer *ngIf="
    UrlRef != 'CE' && UrlRef != 'CNSJ' && UrlRef != 'CC' && UrlRef != 'CNDJ'
  ">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <section class="info-section">
          <h5 class="main-title-medium ct-blues3">Corte Suprema de Justicia</h5>
          <p><strong>Dirección: </strong> Calle 12 # 7 - 65 Bogota, Colombia</p>
          <p>
            <strong>Horario de atención: </strong> Lunes a Viernes 8:00 am a
            1:00 pm y 2:00 pm a 5:00 pm
          </p>
          <p>
            <strong>Teléfono Conmutador: </strong>
            <a role="link" href="tel:6015658500" alt="Teléfono Conmutador">(601) 565 8500</a>
          </p>
          <p>
            <strong>Fax: </strong>
            <a role="link" href="tel:98765432" alt="Fax">9 876 54 32</a>
          </p>
          <p>
            <strong>Correo institucional: </strong>
            <a role="link" href="mailto:info@cendoj.ramajudicial.gov.co"
              alt="correo informativo de la rama judicial">info@cendoj.ramajudicial.gov.co</a>
          </p>
          <p>
            <strong>Correo de notificaciones judiciales: </strong>
            <a role="link" href="mailto:info@cendoj.ramajudicial.gov.co"
              alt="correo informativo de la rama judicial">info@cendoj.ramajudicial.gov.co</a>
          </p>
        </section>
        <section>
          <ul class="rrss-list">
            <li>
              <a role="link" href="https://twitter.com/cortesupremaj" target="_blank" alt="Twitter" class="rrss-icon twitter"><span class="d-none">abrir twitter Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <li>
              <a role="link" href="https://www.facebook.com/Corte-Suprema-de-Justicia-873964706030937/" target="_blank"
                alt="Facebook" class="rrss-icon facebook"><span class="d-none">abrir Facebook Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <li>
              <a role="link" href="https://www.youtube.com/channel/UC7_SLsflSL2955-ULtEhc6w" target="_blank" alt="YouTube"
                class="rrss-icon youtube"><span class="d-none">abrir youtube Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <li>
              <a role="link" href="https://open.spotify.com/show/7bJxiS97TDWH4amqTPA3vY" target="_blank" alt="Spotify"
                class="rrss-icon spotify"><span class="d-none">abrir spotify Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
          </ul>
        </section>
        <section class="menu-section">
          <ul class="footer-menu">
            <li>
              <a role="link" href="https://www.ramajudicial.gov.co/portal/politicas-de-privacidad-y-condiciones-de-uso"
                alt="Políticas de privacidad">Políticas</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Mapa del sitio">Mapa del sitio</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Transparencia y acceso a la información">Transparencia y acceso a la
                información</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Estadísticas">Estadísticas</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-lg-4 ta-right">
        <img src="../../../assets/media/images/img-corte-suprema.png" alt="Logotipo Corte Suprema de Justicia" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <img src="../../../assets//media/images/img_logo_gov_co.png" alt="Logotipo de Gov.com" />
      <p class="ct-white">
        Conoce <a role="link" href="javascript:void(0);" alt="Página gov.co">gov.co</a> aquí
      </p>
    </div>
  </div>
</footer>

<footer *ngIf="UrlRef == 'CE'" class="conEstado">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <section class="info-section">
          <h5 class="main-title-medium ct-blues3">Consejo de Estado</h5>
          <p><strong>Dirección: </strong> Calle 12 # 7 - 65 Bogota, Colombia</p>
          <p>
            <strong>Horario de atención: </strong> Lunes a Viernes 8:00 am a
            1:00 pm y 2:00 pm a 5:00 pm
          </p>
          <p>
            <strong>Teléfono Conmutador: </strong>
            <a role="link" href="tel:6015658500" alt="Teléfono Conmutador">(601) 565 8500</a>
          </p>
          <p>
            <strong>Fax: </strong>
            <a role="link" href="tel:98765432" alt="Fax">9 876 54 32</a>
          </p>
          <p>
            <strong>Correo institucional: </strong>
            <a role="link" href="mailto:info@cendoj.ramajudicial.gov.co"
              alt="correo informativo de la rama judicial">info@cendoj.ramajudicial.gov.co</a>
          </p>
          <p>
            <strong>Correo de notificaciones judiciales: </strong>
            <a role="link" href="mailto:info@cendoj.ramajudicial.gov.co"
              alt="correo informativo de la rama judicial">info@cendoj.ramajudicial.gov.co</a>
          </p>
        </section>
        <section>
          <ul class="rrss-list">
            <li>
              <a role="link" href="https://twitter.com/consejodeestado" target="_blank" alt="Twitter" class="rrss-icon twitter"><span class="d-none">abrir twitter Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <li>
              <a role="link" href="https://www.facebook.com/Consejo-de-Estado-366461793811276/" target="_blank" alt="Facebook"
                class="rrss-icon facebook"><span class="d-none">abrir Facebook Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <li>
              <a role="link" href="https://www.youtube.com/channel/UC0z0WQkYqgZIYmn320PpyOA" target="_blank" alt="YouTube"
                class="rrss-icon youtube"><span class="d-none">abrir youtube Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <!-- <li>
                <a role="link" href="javascript:void(0);" target="_blank" alt="Google Podcast" class="rrss-icon podcast"></a>
            </li> -->
            <li>
              <a role="link" href="https://www.instagram.com/consejodeestado/" target="_blank" alt="Instagram"
                class="rrss-icon instagram"><span class="d-none">abrir instagram Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
          </ul>
        </section>
        <section class="menu-section">
          <ul class="footer-menu">
            <li>
              <a role="link" href="https://www.ramajudicial.gov.co/portal/politicas-de-privacidad-y-condiciones-de-uso"
                alt="Políticas de privacidad">Políticas</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Mapa del sitio">Mapa del sitio</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Transparencia y acceso a la información">Transparencia y acceso a la
                información</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Estadísticas">Estadísticas</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-lg-4 ta-right">
        <img src="../../../assets/media/images/img_consejo_estado.png" alt="Logotipo del Concejo de Estado" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <img src="../../../assets//media/images/img_logo_gov_co.png" alt="Logotipo de Gov.com" />
      <p class="ct-white">
        Conoce <a role="link" href="javascript:void(0);" alt="Página gov.co">gov.co</a> aquí
      </p>
    </div>
  </div>
</footer>

<footer *ngIf="UrlRef == 'CNSJ'" class="conJudica">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <section class="info-section">
          <h5 class="main-title-medium ct-blues3">
            Consejo Superior de la Judicatura
          </h5>
          <p><strong>Dirección: </strong> Calle 12 # 7 - 65 Bogota, Colombia</p>
          <p>
            <strong>Horario de atención: </strong> Lunes a Viernes 8:00 am a
            1:00 pm y 2:00 pm a 5:00 pm
          </p>
          <p>
            <strong>Teléfono Conmutador: </strong>
            <a role="link" href="tel:6015658500" alt="Teléfono Conmutador">(601) 565 8500</a>
          </p>
          <p>
            <strong>Fax: </strong>
            <a role="link" href="tel:98765432" alt="Fax">9 876 54 32</a>
          </p>
          <p>
            <strong>Correo institucional: </strong>
            <a role="link" href="mailto:info@cendoj.ramajudicial.gov.co"
              alt="correo informativo de la rama judicial">info@cendoj.ramajudicial.gov.co</a>
          </p>
          <p>
            <strong>Correo de notificaciones judiciales: </strong>
            <a role="link" href="mailto:info@cendoj.ramajudicial.gov.co"
              alt="correo informativo de la rama judicial">info@cendoj.ramajudicial.gov.co</a>
          </p>
        </section>
        <section>
          <ul class="rrss-list">
            <li>
              <a role="link" href="https://twitter.com/judicaturacsj" target="_blank" alt="Twitter" class="rrss-icon twitter"><span class="d-none">abrir twitter Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <li>
              <a role="link" href="https://www.facebook.com/ConsejoSuperiorJudicatura" target="_blank" alt="Facebook"
                class="rrss-icon facebook"><span class="d-none">abrir Facebook Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <li>
              <a role="link" href="https://www.youtube.com/channel/UCBHrdbfpLE2lNsu4CTpDanA" target="_blank" alt="YouTube"
                class="rrss-icon youtube"><span class="d-none">abrir youtube Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <li>
              <a role="link" href="https://www.instagram.com/consejosuperiorjudicatura/?hl=es-la" target="_blank" alt="Instagram"
                class="rrss-icon instagram"><span class="d-none">abrir instagram Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
          </ul>
        </section>
        <section class="menu-section">
          <ul class="footer-menu">
            <li>
              <a role="link" href="https://www.ramajudicial.gov.co/portal/politicas-de-privacidad-y-condiciones-de-uso"
                alt="Políticas de privacidad">Políticas</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Mapa del sitio">Mapa del sitio</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Transparencia y acceso a la información">Transparencia y acceso a la
                información</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Estadísticas">Estadísticas</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-lg-4 ta-right">
        <img src="../../../assets/media/images/img_consejo_superior_judicatura.png"
          alt="Logotipo del Concejo de Estado" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <img src="../../../assets//media/images/img_logo_gov_co.png" alt="Logotipo de Gov.com" />
      <p class="ct-white">
        Conoce <a role="link" href="javascript:void(0);" alt="Página gov.co">gov.co</a> aquí
      </p>
    </div>
  </div>
</footer>
<footer *ngIf="UrlRef == 'CC'" class="corteConst">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <section class="info-section">
          <h5 class="main-title-medium ct-blues3">Corte Constitucional</h5>
          <p><strong>Dirección: </strong> Calle 12 # 7 - 65 Bogota, Colombia</p>
          <p>
            <strong>Horario de atención: </strong> Lunes a Viernes 8:00 am a
            1:00 pm y 2:00 pm a 5:00 pm
          </p>
          <p>
            <strong>Teléfono Conmutador: </strong>
            <a role="link" href="tel:6015658500" alt="Teléfono Conmutador">(601) 565 8500</a>
          </p>
          <p>
            <strong>Fax: </strong>
            <a role="link" href="tel:98765432" alt="Fax">9 876 54 32</a>
          </p>
          <p>
            <strong>Correo institucional: </strong>
            <a role="link" href="mailto:info@cendoj.ramajudicial.gov.co"
              alt="correo informativo de la rama judicial">info@cendoj.ramajudicial.gov.co</a>
          </p>
          <p>
            <strong>Correo de notificaciones judiciales: </strong>
            <a role="link" href="mailto:info@cendoj.ramajudicial.gov.co"
              alt="correo informativo de la rama judicial">info@cendoj.ramajudicial.gov.co</a>
          </p>
        </section>
        <section>
          <ul class="rrss-list">
            <li>
              <a role="link" href="http://www.twitter.com/cconstitucional" target="_blank" alt="Twitter"
                class="rrss-icon twitter"><span class="d-none">abrir twitter Corte Suprema de justicia en nueva pestaña</span></a></li>
            <li>
              <a role="link" href="http://www.facebook.com/corteconstitucionaldecolombia" target="_blank" alt="Facebook"
                class="rrss-icon facebook"><span class="d-none">abrir Facebook Corte Suprema de justicia en nueva pestaña</span></a></li>
            <li>
              <a role="link" href="http://www.youtube.com/user/cconstitucional" target="_blank" alt="YouTube"
                class="rrss-icon youtube"><span class="d-none">abrir youtube Corte Suprema de justicia en nueva pestaña</span></a></li>
            <li>
              <a role="link" href="https://open.spotify.com/show/4mSdZqoYhYBdgvWxWRdmbu" target="_blank" alt="Spotify"
                class="rrss-icon spotify"><span class="d-none">abrir spotify Corte Suprema de justicia en nueva pestaña</span></a></li>
            <li>
              <a role="link" href="https://co.linkedin.com/company/corte-constitucional-de-colombia" target="_blank"
                alt="Linkedin" class="rrss-icon linkedin"><span class="d-none">abrir linkedIn Corte Suprema de justicia en nueva pestaña</span></a></li>
            <li>
              <a role="link" href="https://www.instagram.com/corteconstitucional/" target="_blank" alt="Instagram"
                class="rrss-icon instagram"><span class="d-none">abrir instagram Corte Suprema de justicia en nueva pestaña</span></a></li>
          </ul>
        </section>
        <section class="menu-section">
          <ul class="footer-menu">
            <li>
              <a role="link" href="https://www.ramajudicial.gov.co/portal/politicas-de-privacidad-y-condiciones-de-uso"
                alt="Políticas de privacidad">Políticas</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Mapa del sitio">Mapa del sitio</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Transparencia y acceso a la información">Transparencia y acceso a la
                información</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Estadísticas">Estadísticas</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-lg-4 ta-right">
        <img src="../../../assets/media/images/img_corte_constitucional.png" alt="Logotipo del Concejo de Estado" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <img src="../../../assets//media/images/img_logo_gov_co.png" alt="Logotipo de Gov.com" />
      <p class="ct-white">
        Conoce <a role="link" href="javascript:void(0);" alt="Página gov.co">gov.co</a> aquí
      </p>
    </div>
  </div>
</footer>
<footer *ngIf="UrlRef == 'CNDJ'" class="disJudi">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <section class="info-section">
          <h5 class="main-title-medium ct-blues3">
            Comisión Nacional de Disciplina Judicial
          </h5>
          <p><strong>Dirección: </strong> Calle 12 # 7 - 65 Bogota, Colombia</p>
          <p>
            <strong>Horario de atención: </strong> Lunes a Viernes 8:00 am a
            1:00 pm y 2:00 pm a 5:00 pm
          </p>
          <p>
            <strong>Teléfono Conmutador: </strong>
            <a role="link" href="tel:6015658500" alt="Teléfono Conmutador">(601) 565 8500</a>
          </p>
          <p>
            <strong>Fax: </strong>
            <a role="link" href="tel:98765432" alt="Fax">9 876 54 32</a>
          </p>
          <p>
            <strong>Correo institucional: </strong>
            <a role="link" href="mailto:info@cendoj.ramajudicial.gov.co"
              alt="correo informativo de la rama judicial">info@cendoj.ramajudicial.gov.co</a>
          </p>
          <p>
            <strong>Correo de notificaciones judiciales: </strong>
            <a role="link" href="mailto:info@cendoj.ramajudicial.gov.co"
              alt="correo informativo de la rama judicial">info@cendoj.ramajudicial.gov.co</a>
          </p>
        </section>
        <section>
          <ul class="rrss-list">
            <li>
              <a role="link" href="https://twitter.com/CNDJ_Col" target="_blank" alt="Twitter" class="rrss-icon twitter"><span class="d-none">abrir twitter Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <li>
              <a role="link" href="https://www.facebook.com/CNDJCol" target="_blank" alt="Facebook" class="rrss-icon facebook"><span class="d-none">abrir Facebook Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <li>
              <a role="link" href="https://www.youtube.com/channel/UC9rNIXHDKUNTJG64voLRk-w/videos" target="_blank" alt="YouTube" class="rrss-icon youtube"><span class="d-none">abrir youtube Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
            <li>
              <a role="link" href="https://instagram.com/comisiondisciplinajudicial?igshid=YmMyMTA2M2Y=" target="_blank" alt="Instagram"
                class="rrss-icon instagram"><span class="d-none">abrir instagram Corte Suprema de justicia en nueva pestaña</span></a>
            </li>
          </ul>
        </section>
        <section class="menu-section">
          <ul class="footer-menu">
            <li>
              <a role="link" href="https://www.ramajudicial.gov.co/portal/politicas-de-privacidad-y-condiciones-de-uso"
                alt="Políticas de privacidad">Políticas</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Mapa del sitio">Mapa del sitio</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Transparencia y acceso a la información">Transparencia y acceso a la
                información</a>
            </li>
            <li>
              <a role="link" href="javascript:void(0);" alt="Estadísticas">Estadísticas</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-lg-4 ta-right">
        <img src="../../../assets/media/images/img_disciplina_juridica.png" alt="Logotipo del Concejo de Estado" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <img src="../../../assets//media/images/img_logo_gov_co.png" alt="Logotipo de Gov.com" />
      <p class="ct-white">
        Conoce <a role="link" href="javascript:void(0);" alt="Página gov.co">gov.co</a> aquí
      </p>
    </div>
  </div>
</footer>
