 <!-- #region modal -->
 <div id="Modal" class="modal" style="display: block;">
    <!-- Modal content -->
    <div class="modal-content-small">
        <div class="modal-header">
            <button (click)="closeModal()" role="button" class="close-modal"></button>
            <h2>Desactivar usuario</h2>
        </div>
        <div class="modal-body scrolled">
            <p>¿Está seguro de desactivar al usuario <strong>{{usuario.full_name}}</strong> ? con rol: <strong *ngFor="let rol of usuario.roles">{{rol}} <br> </strong> </p>
        </div>
        <div class="modal-footer">
            <button (click)="closeModal()" class="btn btn-text" role="button" aria-label="Cerrar ventana">Cancelar</button>
            <button (click)="confirmarDesativacion()" role="button" class="btn blue" aria-label="Guardar cambios">Desactivar</button>
        </div>
    </div>

</div>
<!-- #endregion -->