<!--
<header *ngIf="UrlRef != 'CE' && UrlRef != 'CNSJ' && UrlRef != 'CC' && UrlRef != 'CNDJ'">
    <app-menu></app-menu>
    <div class="container pt-30px">
        <section class="title-header">
            <h1>
                <img src="{{logoImg}}" alt="{{logoName}}">

                
                <p class="main-title ct-bluePrimary">Plataforma de recuperación de información</p>
                <img src="../../../assets/media/wcag/images/img_rama_judicial.png" alt="Logotipo de la rama judicial">
            </h1>
        </section>
    </div>
</header>
<header *ngIf="UrlRef == 'CE'" class="conEstado">
    <app-menu></app-menu>
    <div class="container pt-30px">
        <section class="title-header">
            <h1>
                <img src="../../../assets/media/images/img_consejo_estado.png" alt="Logotipo de la corte suprema de justicia">
                <p class="main-title ct-bluePrimary">Plataforma de recuperación de información</p>
                <img src="../../../assets/media/wcag/images/img_rama_judicial.png" alt="Logotipo de la rama judicial">
            </h1>
        </section>
    </div>
</header>
<header *ngIf="UrlRef == 'CNSJ'" class="conJudica">
    <app-menu></app-menu>
    <div class="container pt-30px">
        <section class="title-header">
            <h1>
                <img src="../../../assets/media/images/img_consejo_superior_judicatura.png" alt="Logotipo de la corte suprema de justicia">
                <p class="main-title ct-bluePrimary">Plataforma de recuperación de información</p>
                <img src="../../../assets/media/wcag/images/img_rama_judicial.png" alt="Logotipo de la rama judicial">
            </h1>
        </section>
    </div>
</header>
<header *ngIf="UrlRef == 'CC'" class="corteConst">
    <app-menu></app-menu>
    <div class="container pt-30px">
        <section class="title-header">
            <h1>
                <img src="../../../assets/media/images/img_corte_constitucional.png" alt="Logotipo de la corte suprema de justicia">
                <p class="main-title ct-bluePrimary">Plataforma de recuperación de información</p>
                <img src="../../../assets/media/wcag/images/img_rama_judicial.png" alt="Logotipo de la rama judicial">
            </h1>
        </section>
    </div>
</header>
<header *ngIf="UrlRef == 'CNDJ'" class="disJudi">
    <app-menu></app-menu>
    <div class="container pt-30px">
        <section class="title-header">
            <h1>
                <img src="../../../assets/media/images/img_disciplina_juridica.png" alt="Logotipo de la corte suprema de justicia">
                <p class="main-title ct-bluePrimary">Plataforma de recuperación de información</p>
                <img src="../../../assets/media/wcag/images/img_rama_judicial.png" alt="Logotipo de la rama judicial">
            </h1>
        </section>
    </div>
</header>
-->

<header>
    <app-menu></app-menu>
    <div class="container pt-30px">
        <section class="title-header">
            <h1>
                <img src="{{logoImg}}" alt="{{logoName}}">
                <p class="main-title ct-bluePrimary">Plataforma de Recuperación <br>de Información de la Rama Judicial</p>
                <img src="../../../assets/media/wcag/images/img_rama_judicial.png" alt="Logotipo de la rama judicial">
            </h1>
        </section>
    </div>
</header>