//Estilos del pie de página
footer{
    padding: 15px 0 0 0;
    background-color: $yellowPrimary;
    &>.container{
        padding: 25px;
        margin-bottom: 25px;
        border-radius: 15px;
        background-color: $white;        
        border: 1px solid #C9C9C9;
        border-radius: 15px; 
        margin-top: -50px;
        img{
            max-height: 76px;
            margin-bottom: 25px;
        }       
        .info-section{
            p{
                font-size: 14px;
                color: #4B4B4B;
                margin-bottom: 15px;
                a{
                    text-decoration: underline;
                    &:hover, &:active, &:focus{
                        color: $lighBluePrimary;
                    }
                }
            }
        }
        .menu-section{
            .footer-menu{   
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                li{
                    margin-bottom: 15px;
                    margin-right: 15px;
                    a{
                        @include defaultFont(1, $c: $gray, $fz:14px, $fw: 600);
                        &:hover, &:active, &:focus{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .rrss-list{
            display: flex;
            align-items: center;
            margin: 40px 0;
            li{
                margin-right: 15px;                
                .rrss-icon{
                    width: 25px;
                    height: 25px;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 10px;
                    transition: .25s all;
                    &.twitter{
                        background: url(../media/icons/ic_rrss_twitter.svg);
                    }
                    &.facebook{
                        background: url(../media/icons/ic_rrss_facebook.svg);
                    }
                    &.youtube{
                        background: url(../media/icons/ic_rrss_youtube.svg);
                    }
                    &.podcast{
                        background: url(../media/icons/ic_rrss_podcast.svg);                            
                    }
                    &.spotify{
                        background: url(../media/icons/ic_rrss_spotify.svg);                                
                    }
                    &.linkedin{
                        background: url(../media/icons/ic_rrss_linkedin.svg);                                
                    }
                    &.instagram{
                        background: url(../media/icons/ic_rrss_instagram.svg);                                
                    }
                    &:hover{
                        opacity: .8;
                    }
                    &:active, &:focus{               
                        outline: 3px solid rgb(0, 96, 223);
                        box-shadow: 0px 0px 0px 3px rgb(51, 102, 204)
                    } 
                }
            }
        }
    }
    .container-fluid{
        padding: 5px 0;
        background-color: #3C67C5;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                max-height: 32px;
            }
        }        
    }
}